{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<br/>

<br/>

<br/>

<div style="text-align: center;">
    <div>
        <h1>Are you experiencing any form of abuse?</h1>
    </div>

    <br/>

    <br/>
    <div>
        <h2>Is anyone you know being abused?</h2>
    </div>


    <br/>

    <br/>


    <div>
        <h3>Feel Free to report it here</h3>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/report">
        <button class="btn btn-primary" type="button">REPORT HERE</button>
        </a>
    </div>
</div>
{% endblock %}