{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1> Reports made</h1>

    <table border = 0>
        <thead>
        <td>Abuse<br/></td>
        <td>Date Reported<br/></td>
        <td>Name of Perpetrator<br/></td>
        <td>Age<br/></td>
        <td>Gender<br/></td>
        <td>Relation<br/></td>
        </thead>

{% for row in report %}
    <tr>
        <td>{{row["name"]}}</td>
        <td>{{row[abuse]}}</td>
        <td>{{row[dates]}}</td>
        <td>{{row[]}}</td>
        <td>{{row[abuse]}}</td>
    </tr>

{% endfor %}
</table>
    <br/>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/report">
        <button class="btn btn-outline-success btn-lg" type="button">MAKE NEW REPORT HERE</button>
        </a>
    </div>
{% endblock %}