{% extends "base.html" %} {% block title %}Report{% endblock %}

{% block content %}
<br/>
<form method="post" align="center" style="font-weight:bold; margin: auto; width: 900px;">
  <div>
    <h3 align="center"> VICTIMS DETAILS</h3>
  <div align="center">
  <div class="row">
    <div class="col">
      <label for="firstname">First name</label>
      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name">
    </div>
    <div class="col">
      <label for="lastname">Last name</label>
      <input type="text" class="form-control" id="lastname" placeholder="Last name">
    </div>
    <div class="col">
      <label for="othername">Other name</label>
      <input type="text" class="form-control" id="othername">
    </div>
  </div>
    <div class="row">
      <div class="col">
      <label for="agev">Age</label>
      <input type="integer" class="form-control" id="agev">
    </div>
      <div class="col">
      <label for="genderv">Gender</label>
      <select id="genderv" class="form-control">
        <option selected>Choose...</option>
        <option value="female">Female</option>
        <option value="male">Male</option>
      </select>
    </div>
    </div>
  <div class="row">
    <div class="col">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="0000 Town, City">
    </div>
    <div class="col">
      <label for="province">Province</label>
      <select name="choose" id="province" class="form-control">
        <option selected>Choose...</option>
        <option value="central">Central</option>
        <option value="copperbelt">Copperbelt</option>
        <option value="eastern">Eastern</option>
        <option value="luapula">Luapula</option>
        <option value="lusaka">Lusaka</option>
        <option value="muchinga">Muchinga</option>
        <option value="northern">Northern</option>
        <option value="north-western">North-Western</option>
        <option value="southern">Southern</option>
        <option value="western">Western</option>
      </select>
    </div>
    <div class="col">
      <label for="phonenumber">Phone Number</label>
      <input type="integer" class="form-control" id="phonenumber">
    </div>
  </div>
  <div class="row">
  <div class="col">
      <label for="abuse">Type of Abuse experienced</label>
    <select name="abuse" class="form-control" id="abuse">
      <option selected >Choose...</option>
      <option name="defile" value="defilement">Defilement</option>
      <option name="rape" value="rape">Rape</option>
      <option value="verbal">Verbal Abuse</option>
      <option value="battery">Battery(Beating)</option>
      <option value="child-abuse">Child abuse</option>
    </select>
    </div>
  <div class="col">
      <label for="evidence">Evidence</label>
      <input type="file" class="form-control" id="evidence">
    </div>
  <div class="col">
      <label for="dates">Date exprienced</label>
      <input type="date" class="form-control" id="dates">
    </div>
    </div>
  </div>
<br />
  <br />
  <div>
    <h3 align="center">PERPETRATORS DETAILS</h3>
    <div class="row">
    <div class="col">
      <label for="first">First name</label>
      <input type="text" class="form-control" id="first" placeholder="First name">
    </div>
    <div class="col">
      <label for="last">Last name</label>
      <input type="text" class="form-control" id="last" placeholder="Last name">
    </div>
    <div class="col">
      <label for="oname">Other name</label>
      <input type="text" class="form-control" id="oname" placeholder="Other name">
    </div>
  </div>
    <div class="row">
      <div class="col">
      <label for="age">Age</label>
      <input type="integer" class="form-control" id="age">
    </div>
      <div class="col">
      <label for="gender">Gender</label>
      <select name="choose" id="gender" class="form-control">
        <option selected>Choose...</option>
        <option value="female">Female</option>
        <option value="male">Male</option>
      </select>
    </div>
      <div class="col">
        <label for="relation">Relation to victim</label>
        <select name="relation" id="relation" class="form-control">
          <option value="none">None</option>
          <option value="father">Father</option>
          <option value="mother">Mother</option>
          <option value="aunt">Aunt</option>
          <option value="uncle">Uncle</option>
          <option value="brother">Brother</option>
          <option value="sister">Sister</option>
          <option value="cousin">Cousin</option>
          <option value="husband">Husband</option>
          <option value="wife">Wife</option>
      </select>

      </div>
    </div>
  </div>
  <br />
  <br />
  <button class="btn btn-primary" type="submit">Submit Report</button>
  </div>
</form>

{% endblock %}