{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block content %}
<form method="POST" xmlns="http://www.w3.org/1999/html" action="{{url_for('auth.signup')}}">
  <h3 align="center">Sign Up</h3>
  <div class="row">
  <div class="col">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" pattern="[a-z0-9._%+-]+@[a-z0-9._]+\.[a-z]{2,4}$" required/>
  </div>
  <div class="col">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" name="firstname" placeholder="First name" required minlength="3" maxlength="50"/>
    </div>
    <div class="col">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Last name" minlength="3" maxlength="20">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="age1">Age</label>
      <input type="number" class="form-control" size="4" id="age1" min="16" required>
    </div>
    <div class="col">
      <label for="gender">Gender</label>
      <select id="gender" class="form-control">
        <option selected>Choose...</option>
        <option value="female">Female</option>
        <option value="male">Male</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="0000 Town, City">
    </div>
    <div class="col">
      <label for="province">Province</label>
      <select name="choose" id="province" class="form-control">
        <option selected>Choose...</option>
        <option value="central">Central</option>
        <option value="copperbelt">Copperbelt</option>
        <option value="eastern">Eastern</option>
        <option value="luapula">Luapula</option>
        <option value="lusaka">Lusaka</option>
        <option value="muchinga">Muchinga</option>
        <option value="northern">Northern</option>
        <option value="north-western">North-Western</option>
        <option value="southern">Southern</option>
        <option value="western">Western</option>
      </select>
    </div>
    <div class="col">
      <label for="phonenumber">Phone Number</label>
      <input type="number" class="form-control" id="phonenumber">
    </div>
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" minlength="7"/>
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password"/>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}